.page-content {
    background-color: #fff;
}

a {
    color: #45c8dc;
}

.layui-m-layershade {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.layui-m-layerchild {
    width: 70% !important;
}

.layui-m-layerchild > h3 {
    background: rgb(29, 170, 240);
    color: #fff;
    margin: 0;
    font-size: 1rem;
}

.layui-m-layercont {
    text-align: left !important;
    padding: 20px 30px !important;
}